body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.scene { display: none; } /* Cacher toutes les étapes */

.scene.active { display: block; } /* Montrer uniquement l'étape active */


.menu{
    position: relative;
}

.imgFondMenu{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.fullscreen-button{
    position: absolute;
    font-size: 70px;
    border: 10px solid #000000;
    border-radius: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 250px;
    transform: translate(-50%, -50%)
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(11, 50px); /* 11 colonnes de 50px */
    grid-template-rows: repeat(11, 50px);    /* 11 lignes de 50px */
    gap: 2px;
}

.player {
    position: absolute;
    top: 10%; 
    left: 10%;
    width: 40px;
    height: 40px;
    background-color: #ff0000;
    border: 1px solid #ccc;
}

.grid-item {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}